{% extends 'base.html' %} {% block content %}
<h2>{{ page_heading }}</h2>

<p>Harry Potter is a series of fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. 
The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic, and subjugate all wizards and Muggles (non-magical people).
</br> Below are twelve wickedly tricky riddles from the wizarding world of Harry Potter. Good Luck!</p>

{% for member in company %}
 {% if loop.index % 2 != 0 %}
            <div class="row featurette">
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Please enter your guess.</p>
          
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Answer</label>
                <input type="text" class="form-control" placeholder="Answer" id="Answer" required data-validation-required-message="Please enter your guess.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
        </div>
      </div>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
                </div>
            </div>
        {% else %}
            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Please enter your guess.</p>
          
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Answer</label>
                <input type="text" class="form-control" placeholder="Answer" id="Answer" required data-validation-required-message="Please enter your guess.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
        </div>
      </div>
                </div>
            </div>
        {% endif %} 
        {% if loop.index != 12 %}
            <hr class="featurette-divider"> 
        {% endif %} 
    {% endfor %} 
{% endblock %}
