{% extends 'base.html' %} {% block content %}

<h2>Welcome to the Harry Potter Quiz</h2>

    <div class="main">
        <div class="overlay">
            <div class="container">
                <p class="sub">Enter a username </pwday stock>
                <div >
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="username" name="username" id="username">
                        <button class="btn btn-secondary">continue </button>
                    </form>
                </div>
            </div>
        </div>
        
         <hr class="featurette-divider"> 
         </div>
         
{% endblock %}