{% extends 'base.html' %} {% block content %}
<h2>Home</h2>

<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>Harry Potter is a series of fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. 
The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic, and subjugate all wizards and Muggles (non-magical people).
</br> On this site you will find twelve wickedly tricky <a href="about" class="link"> riddles</a> from the wizarding world of Harry Potter. Good Luck!</p>
        </div>
      </div>
    

{% endblock %}